/*=================================*/
/* Estilo
 * Nombre:atcestilocohvest
 * Descripcion:Hoja de estilo de cohvest
/* Fecha de creacion:Agosto 2012
/* Programador@: Zoraly Gomez
/*=================================*/

/*========================*/
/* Cuerpo de la Paguina
/*========================*/

body{
background-image:url(../imagenes/fondo2.png);
}

/*==========*/
/* Capas
/*==========*/

#completo{
width:800px;
height:600px;
margin:0px auto;
background:#F0F0F0;
}
#completo2{
width:815px;
height:810px;
margin: 10px auto 0 auto;
background:#C0C0C0;
padding: 8px 0px 0px 0px;
radius:7px;
-moz-border-radius: 7px;
-webkit-border-radius : 7px;
}

#arriba{
width:800px;
height:54px;
margin:0px auto;
background-image:url(../imagenes/logo1.jpg);
background-repeat: no-repeat;
background-position:top center;
}

#encabezado{
width:800px;
height:120px;
margin:0px auto;
background-image:url(../imagenes/atc.jpg);
background-repeat: no-repeat;
background-position:top center;
float:left;
}

#menu{
width:800px;
height:40px;
margin:0px auto;
background:#FFFFFF;
background-repeat: no-repeat;
background-position:top center;
float:left;
}

#cuerpo1{
width:785px;
height:420px;
background:#FFFFFF;
padding: 8px 5px 0px 8px;
float:left; 
}

#cuerpo11{
width:785px;
height:780px;
background:#FFFFFF;
padding: 8px 5px 0px 8px;
float:left; 
}

#cuerpo2{
width:780px;
height:370px;
background:#F0F0F0;
border-style:groove;
radius:7px;
-moz-border-radius: 7px;
-webkit-border-radius : 7px;
float:left; 
}

#cuerpo22{
width:780px;
height:740px;
background:#F0F0F0;
border-style:groove;
radius:7px;
-moz-border-radius: 7px;
-webkit-border-radius : 7px;
float:left; 
}

#pie{
width:800px;
height:96px;
background-image:url(../imagenes/Imagen4.jpg);
background-repeat: no-repeat;
background-position:top center;
float:left; 
}

/*===============================*/
/* estilos de Etiquetas de texto
/*===============================*/

p{
font-family:arial;
text-align:justify;
color:#000000;
padding: 0px 25px 25px 25px;
text-indent:20px;
}
h2{
font-family:arial;
text-align:center;
color:#000000;
}
h3{
font-family:arial;
text-align:center;
color:#000000;

}
h4{
font-family:arial;
text-align:center;
color:#000000;

}

#cuerpo2 p{
font-family:arial;
font-size:15px;
text-align:justify;
color:#000000;
padding: 0px 0px 0px 50px;
text-indent:30px;
}

#cuerpo22 p{
font-family:arial;
font-size:15px;
text-align:justify;
color:#000000;
padding: 0px 0px 0px 50px;
text-indent:30px;
}

#cuerpo1 a{
font-family:arial;
font-size:14px;
text-align:center;
color:#000000;
text-decoration:none;
}

#cuerpo11 a{
font-family:arial;
font-size:14px;
text-align:center;
color:#000000;
text-decoration:none;
}


/*===============================*/
/* Menu Desplegrable
/*===============================*/

* {
 padding:0px;
 margin:0px;
}

#header {
 margin:0px 0px 0px 11px;
 width:800px;
 font-family:arial;
}

ul, ol {
 list-style:none;
}

.nav li a {
 background-image:url(../imagenes/fondo3.jpg);
 color:#FFFFFF;
 text-decoration:none;
 padding:8px 30px;
 display:block;
 margin:7px 2px 2px 2px;
 radius:7px;
-moz-border-radius: 7px;
-webkit-border-radius : 7px;
}

.nav li a:hover {
background-image:url(../imagenes/fondo4.jpg);
}

.nav > li {
 float:left;
}

.nav li ul {
 display:none;
 position:absolute;
 min-width:140px;
}

.nav li:hover > ul {
 display:block;
}

.nav li ul li {
 position:relative;
}

.nav li ul li ul {
 right:-140px;
 top:0px;
}


/*===============================*/
/* Imagenes con Efectos
/*===============================*/

#ex2 img{ 
height: 180px; 
width: 220px; 
margin: 15px 0; 
-webkit-transition: all 1s ease; 
-moz-transition: all 1s ease; 
-o-transition: all 1s ease; 
} 

#ex2 img:hover { 
height: 200px; 
width: 240px; 
margin-left: -50px; 
} 

img { /* Estilos general para todas las imagenes */
 opacity:.7; /* Opacidad al 70% */
 -webkit-transition: .25s; /* Transición con duración de 25 milesimas */
 border-radius: 20px; /* Redondeado de 20 pixeles */
}
img:hover { /* Estilos general para todas las imagenes cuando pasemos el cursor */
 box-shadow: 3.75px 3.75px 15px #000; /* Sombra exterior */
 opacity: 1; /* Opacidad al 100% */
} 
